<div class="background-image">
	<div class="container-fluid">
	  <div class="row justify-content-center" style="padding-top: 80px">
	  	<div class="col-4">
	  		<img src="../assets/wallet.png">
	  	</div>
	    <div class="col-4">
	      	<img src="../assets/phone.png">
	    </div>
	    <div class="col-4">
	    	<img src="../assets/growth.png">
	    </div>
	  </div>
	</div>
</div>

<div>
	<h2 style="padding-top: 40px; text-align: center; color: #676767">
		Join WALLiT's fund and get the returns that you deserve
	</h2>
</div>
