<div class="background-image">
	<div class="container-fluid">
	  <div class="row justify-content-center" style="padding-top: 80px">
	  	<div class="col-4" style="text-align: center">
	  		<img src="../assets/wallet.png" class="anime">
	  		<h4 style="padding-top: 40px; text-align: center; color: #003B6D; margin-left: 40px; margin-right: 40px">Do you have some savings on your wallet?</h4>
	  	</div>
	    <div class="col-4" style="text-align: center">
	      	<img src="../assets/phone.png" class="anime">
	      	<h4 style="padding-top: 40px; text-align: center; color: #003B6D; margin-left: 40px; margin-right: 40px">Want to invest it with a click of your finger?</h4>
	    </div>
	    <div class="col-4" style="text-align: center">
	    	<img src="../assets/growth.png" class="anime">
	    	<h4 style="padding-top: 40px; text-align: center; color: #003B6D; margin-left: 40px; margin-right: 40px">Wish that your money could really grow?</h4>
	    </div>
	  </div>
	</div>
</div>

<div>
	<h2 style="padding-top: 40px; text-align: center; color: #676767">
		Join WALLiT's fund and get the returns that you deserve
	</h2>
</div>

<div class="container-fluid">
	  <div class="row justify-content-center" style="padding-top: 20px">
	  	<div class="col-4" style="text-align: center">
	  	</div>
	    <div class="col-4" style="text-align: center">
	      	<button class="btn btn-outline-secondary btn-lg btn-block btn-active">Join WALLiT</button>
	    </div>
	    <div class="col-4" style="text-align: center">
	    </div>
	  </div>
	</div>