<div class="container-fluid">
  <div class="row" style="padding-top: 10px">
    <div class="col" style="padding: 20px">
     	<h5 style="color: #003B6D">General Statistics</h5>

     	<div class="row" style="padding:10px; display: flex; align-items: center">
            <div class="col-4" style="padding-left:20px; margin-bottom: 12px; color: #676767"><h5>Current value:</h5></div>
            <div class="col-8 alert alert-success" style="text-align: center" role="alert"><h4 id="currentValue">5.672,17 €</h4></div>
        </div>
        <div class="row" style="padding:10px; display: flex; align-items: center">
            <div class="col-4" style="padding-left:20px; margin-bottom: 12px; color: #676767"><h5>Current &alpha;-level:</h5></div>
            <div class="col-8 alert alert-danger" style="text-align: center;" role="alert"><h4 id="currentAlpha">- 1,54%</h4></div>
        </div>

        <h5 style="color: #003B6D; padding-top: 10px">Evolution chart</h5>

        <div class="row" style="padding-top: 10px">
	      <div class="chartBox" style="display: block; width: 100%">
	        <canvas id="chart" height="110"></canvas>
	      </div>
    	</div>
    </div>


    <div class="col" style="padding-top: 20px; padding-left: 40px; padding-right: 40px">
    	<div class="row">
    		<div class="col-9">
    			<h5 style="color: #003B6D">Hystorical Movements</h5>
    		</div>
    		<div class="col-3">
    			<button type="button" class="btn btn-outline-secondary btn-sm" style="width: 100%" (click)="clearFilter()">Clear filters</button>
    		</div>
    	</div>

    	<div class="row" style="padding-top: 20px; padding-bottom: 20px">
		    <div class="col-4">
			    <div class="btn-group" role="group" aria-label="Types of movements">
					<button id="all" type="button" class="btn btn-outline-secondary btn-sm btn-active" (click)="filter('All')">All</button>
					<button id="deposit" type="button" class="btn btn-outline-secondary btn-sm" (click)="filter('Deposit')">Deposits</button>
					<button id="withdraw" type="button" class="btn btn-outline-secondary btn-sm" (click)="filter('Withdraw')">Withdraws</button>
				</div>
			</div>
			<div class="col-4">
				<form class="form-inline" id="initialDateForm">
				  <div class="form-group">
				    <div class="input-group input-group-sm">
				      <input class="form-control" placeholder="initial date" size="18" 
				             name="startDate" [(ngModel)]="modelStartDate" ngbDatepicker #dStart="ngbDatepicker" (ngModelChange)="filter('')" readonly="true">
				      <div class="input-group-append">
				        <button class="btn btn-outline-secondary" (click)="dStart.toggle()" type="button"><i class="fa fa-calendar"></i></button>
				      </div>
				    </div>
				  </div>
				</form>
			</div>
			<div class="col-4">
				<form class="form-inline" id="endDateForm">
				  <div class="form-group">
				    <div class="input-group input-group-sm">
				      <input class="form-control" placeholder="end date" size="18" 
				             name="endDate" [(ngModel)]="modelEndDate" ngbDatepicker #dEnd="ngbDatepicker" (ngModelChange)="filter('')" readonly="true">
				      <div class="input-group-append">
				        <button class="btn btn-outline-secondary" (click)="dEnd.toggle()" type="button"><i class="fa fa-calendar"></i></button>
				      </div>
				    </div>
				  </div>
				</form>
			</div>
		</div>

		<div style="overflow-y:scroll; height: 416px">
			<table id="movementsTable" style="table-layout:fixed;">
			  <thead>
			    <tr class="header">
			      <th>Date</th>
			      <th>Type</th>
			      <th>Amount</th>
			      <th>Balance</th>
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
		</div>
    </div>
  
</div>