<div style="height: 150px"></div>

<div class="container-fluid">
  <div class="row justify-content-center">
  	<div class="col-4"></div>
    <div class="col col-lg-4">
      <div class="card text-center w-100 bg-light mb-3">
		<div class="card-header">Login Page</div>
		<div class="card-body">
			<h5 class="card-title">Welcome to your personal area</h5>
			<input id="user" class="form-control form-control-md" style="text-align: center; margin-top: 20px; margin-bottom: 10px" type="text" placeholder="Username" required="true">
			<input id="pass" class="form-control form-control-md" style="text-align: center; margin-bottom: 10px" type="password" placeholder="Password" required="true">
			<button id="login" class="btn btn-outline-secondary btn-block" (click)="checkLogin()">Continue</button>
		</div>
	  </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>


