<div style="height: 100px"></div>

<div class="container-fluid">
  <div class="row justify-content-center">
  	<div class="col-4"></div>
    <div class="col col-lg-4">
      <div class="card text-center w-100 bg-light mb-3">
		<div class="card-header">Login Page</div>
		<div class="card-body">
			<h5 class="card-title">Welcome to your personal area</h5>
			<input class="form-control form-control-lg" style="text-align: center; margin-bottom: 10px" type="text" placeholder="Username">
			<input class="form-control form-control-lg" style="text-align: center; margin-bottom: 10px" type="password" placeholder="Password">
			<a id="login" href="#" class="btn btn-outline-secondary btn-sm btn-block" (click)="updateTimeScale('fiveYears')" routerLink="/dashboard">Continue</a>
		</div>
	  </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>


