<div class="background-vision" style="padding:50px">
	<h2 style="text-align: center; color: #003B6D; margin-left: 40px; margin-right: 40px">Our vision</h2>
	<h4 style="text-align: center; color: #676767; margin-left: 40px; margin-right: 40px">By the end of 2025, be the largest digital platform for fund investiment in Europe</h4>
</div>

<div class="background-image">
	<div class="container-fluid">
	  <h2 style="text-align: center; color: #003B6D; padding:20px">Our sacred values</h2>
	  <div class="row justify-content-center" style="padding-top:20px; padding-bottom: 20px">
	  	<div class="col div_anime" style="text-align: center">
	  		<img src="../assets/collaboration.png" class="anime">
	  		<h4 style="padding-top:30px">Collaboration</h4>
	  		<h5 class="value_text">The whole is more than the sum of all parts</h5>
	  	</div>
	    <div class="col div_anime" style="text-align: center">
	    	<img src="../assets/innovation.png" class="anime">
	  		<h4 style="padding-top:20px">Innovation</h4>
	  		<h5 class="value_text">Our business strategy borns from innovation</h5>
	    </div>
	    <div class="col div_anime" style="text-align: center">
	    	<img src="../assets/responsibility.png" class="anime">
	  		<h4 style="padding-top:20px">Responsibility</h4>
	  		<h5 class="value_text">The live of our clients drives our efficiency</h5>
	    </div>
	    <div class="col div_anime" style="text-align: center">
	    	<img src="../assets/transparency.png" class="anime">
	  		<h4 style="padding-top:20px">Transparency</h4>
	  		<h5 class="value_text">Every good relationship is based on thrust</h5>
	    </div>
	    <div class="col div_anime" style="text-align: center">
	    	<img src="../assets/competence.png" class="anime">
	  		<h4 style="padding-top:20px">Competence</h4>
	  		<h5 class="value_text">To be good, we have to try to be the best</h5>
	    </div>
	  </div>
	</div>
</div>

<div class="background-mission" style="padding:50px">
	<h2 style="text-align: center; color: #003B6D; margin-left: 40px; margin-right: 40px">Our mission</h2>
	<h5 style="text-align: center; color: #676767; margin-left: 40px; margin-right: 40px">WALLiT enables anyone with the ability to save and with different risk profiles, to obtain higher returns on their investments through a competent, responsible and transparent digital operation on the world stock exchanges, redistributing profits in a more appealing way that the traditional system, having as main concern the alignment of interests between the company and the user of the service.</h5>
</div>