<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../assets/Logo_blue.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="home" class="nav-item active">
        <a class="nav-link" (click)="goTo('home')" routerLink="/home" style="margin-left: 20px; margin-right: 20px">Home</a>
      </li>
      <li id="dashboard" class="nav-item">
        <a class="nav-link" (click)="goTo('dashboard')" routerLink="/dashboard" style="margin-left: 20px; margin-right: 20px">Our Fund</a>
      </li>
      <li id="about" class="nav-item">
        <a class="nav-link" (click)="goTo('about')" routerLink="/about" style="margin-left: 20px; margin-right: 20px">About WALLiT</a>
      </li> 
      <li id="personal" class="nav-item">
        <a class="nav-link" (click)="goTo('personal')" routerLink="/personal" style="margin-left: 20px; margin-right: 20px">My personal space</a>
      </li>   
    </ul><span id="username" class="navbar-text" style="margin-left: 20px; margin-right: 40px"></span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mr-1">
      
      <li class="nav-item">
        <a id="login" class="nav-link" (click)="doLogout()" routerLink="/login" style="margin-left: 20px">Login</a>
      </li>      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>